target/
# `target` is a symlink to `target.nosync` (a folder iCloud won't sync)
/target
target.nosync/
/tmp/
/.idea/
notch.sh
/publishing/

# Eclipse / m2e / JDT language server
.classpath
.project
.settings/
bin/

# Jekyll docs site (notch/docs/)
docs/_site/
docs/_includes/_site/
docs/.jekyll-cache/
docs/.jekyll-metadata
docs/Gemfile.lock
docs/vendor/
docs/.bundle/
docs/.sass-cache/
docs/node_modules/
